@{
    var fieldName = ViewBag.Name.ToString();
    var hasError = ViewContext.ModelState.ContainsKey(fieldName) && ViewContext.ModelState[fieldName].Errors.Count > 0;
    var errorMessage = hasError ? ViewContext.ModelState[fieldName].Errors[0].ErrorMessage : "";
}

<div class="@ViewBag.CssClass">
    <label for="@ViewBag.Id">@ViewBag.Label</label>
    <input type="@ViewBag.Type" 
           id="@ViewBag.Id" 
           name="@ViewBag.Name"
           value="@ViewBag.Value"
           @if (ViewBag.Required) {
               <text>required</text>
           }
           @if (!string.IsNullOrEmpty(ViewBag.Placeholder))
           {
               <text>placeholder="@ViewBag.Placeholder"</text>
           }
           @if (hasError) {
               <text>style="border-color: red;"</text>
           }
    />
    @if (hasError && !string.IsNullOrEmpty(errorMessage))
    {
        <span class="text-danger" style="color: red; font-size: 12px; display: block; margin-top: 5px;">@errorMessage</span>
    }
</div>