@model IEnumerable<where_we_go.Models.PostDto>

@{
    ViewData["Title"] = "Home Page";
    var isAuthenticated = ViewBag.IsAuth ?? false;
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

    @* Import component css *@
    <link rel="stylesheet" href="~/css/components/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/mainbutton.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/hamburgermenu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/components/footer.css" asp-append-version="true" />
}

<header>
    @await Component.InvokeAsync("Navbar")
</header>

@if (!isAuthenticated)
{
    <div class="home-bg-container">
        <div class="main-text">
            Where We Go
        </div>
        <div class="sub-text">
            <p>
                เช็กอินความสุข บุกทุกพิกัดลับ
                ให้ทุกการเดินทางมีความหมายมากกว่าที่เคยสัมผัส 
                พร้อมเปิดวาร์ปสถานที่ใหม่ๆ
            </p>
        </div>
        <a asp-controller="Auth" asp-action="Login">
            @await Component.InvokeAsync("MainButton", new { targetId = "started", buttonType = "submit", text = "เริ่มต้นใช้งาน" })   
        </a>
    </div>
}

@if (isAuthenticated)
{
    <div class="fab-container">
        <a asp-controller="Post" asp-action="PostCreate" class="fab-link">
            <img src="~/images/add.svg" alt="Add Post" class="fab-icon" />
        </a>
    </div>
}

<div class="home-post-container" style="@(isAuthenticated ? "padding-top: 5rem;" : "")">
    
    @* Loop through mock database posts *@
    @foreach (var post in Model)
    {
    <a asp-controller="Post" asp-action="PostDetail" asp-route-id="@post.PostId" class="post-link">
        <div class="post-card">
            <div class="post-img">
                <img src=@post.PostImgURL alt="https://steamcdn-a.akamaihd.net/steam/apps/398970/header.jpg">
            </div>
            
            <div class="post-content">
                <div class="post-content-1">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <h2 class="post-title">@post.Title</h2>
                        <span class="post-status">@post.Status</span>
                    </div>
                    <div class="post-category">
                        @if (post.Categories.Count > 0)
                        {
                            @foreach (var category in post.Categories)
                            {
                                <span>@category.Name</span>
                            }
                        }
                        else
                        {
                            <span>Uncategorized</span>
                        }
                    </div>
                    <p>
                        @post.Description
                    </p>
                </div>

                <div class="post-content-2">
                    <p class="post-date">@post.DateDeadlineFormatted</p>
                </div>
            </div>
        </div>
    </a>
    }
</div>

<footer>
    @await Component.InvokeAsync("Footer")
</footer>