@model where_we_go.Models.Post

<div class="post-card">
    <img class="post-thumbnail"
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5Jh6aeVy2nximD5wGNlR35zeMJEtVfslboA&s"
         alt="Thumbnail">
    <h2 class="post-title">@Model.Title</h2>
    <div class="post-location">
        <p>@Model.LocationName</p>
    </div>
    <div class="post-date">
        <p>@Model.DateDeadline.ToString("dd/MM/yyyy")</p>
    </div>
    <div class="post-population">
        <p>@Model.CurrentParticipants / @Model.MaxParticipants</p>
    </div>
    <div class="post-category">
        <ul>
            @foreach (var category in @Model.Categories)
            {
                <li>@category.Name</li>
            }
        </ul>
    </div>
    <div class="post-description">
        <p>@Model.Description</p>
    </div>
</div>